.key-sig-pic {
  width: 450px;
}

/* This file needs to rewrite the properties of global canvas */
.canvas {
  height: auto;
  width: 100%;
  justify-content: center;
}

.btn-container {
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.btn {
  width: 55px;
  height: 55px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
}

.hud-left {
  font-size: 0.85rem;
  width: 17%;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.key-type-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.9rem;
  width: 100%;
}

.key-type-form div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: rgb(235, 246, 255);
  border: 2px solid rgb(235, 246, 255);
  padding: 0.7em 1em;
  border-radius: 8px;
  cursor: pointer;
}

.key-type-form label {
  cursor: pointer;
}


.arrow-logo {
  color: black;
}

.selected {
  border-color: rgb(109, 109, 246) !important;
}

@media (max-width: 500px) {

  .key-sig-pic {
    width: 250px;
  }

  .hud-left {
    font-size: 0.7rem;
    text-align: center;
  }
}