@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rubik', sans-serif;
}

body {
  height: 1000px;
  background-color: rgb(240, 240, 240);
}

.cover {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 40%;
  z-index: 2;
  display: none;
}

.sidebar {
  height: 100%;
  position: fixed;
  background-color: rgb(67, 67, 67);
  width: 18vw;
  left: -100vw;
  transition-duration: 250ms;
  z-index: 3;
}

.sidebar.visible {
  left: 0;
}

.sidebar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  height: 50px;
  font-size: 0.95rem;
  color: white;
  cursor: pointer;
  position: relative;
}

.note-range-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  position: absolute;
  opacity: 0%;
  top: 45px;
  left: 0px;
  transition-duration: 300ms;
  pointer-events: none;
  width: 100%
}

.note-range-container.visible {
  top: 50px;
  opacity: 100%;
  pointer-events: auto;
}

.note-range-container * {
  margin-bottom: 0.3rem;
}

.note-range-container button {
  width: 50%;
  padding: 0.6rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.select-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar-section:hover {
  background-color: rgb(106, 106, 106);
}
.note-range-container select {
  border-radius: 8px;
  width: 65%;
  height: 30px; 
}

.update-btn {
  background-color: rgb(71, 169, 41);
}

.update-btn:hover {
  background-color: rgb(50, 122, 28);
}

/* (button) Used to reset highest and lowest notes */
.reset-btn {                               
  background-color: rgb(223, 54, 54);
}

.reset-btn:hover {
  background-color: rgb(187, 24, 24);
}

.error-msg {                                     
 color: red;
}


.settings-sidebar {
  height: 100vh;
  position: fixed;
  background-color: rgb(138, 138, 138);
  width: 20vw;
  padding: 1em;
  transition: 210ms;
  right: -100vw;
  z-index: 3;
}

.settings-sidebar.visible {
  right: 0;
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: rgb(67, 67, 67);
  box-shadow: 2px 2px 8px rgb(147, 147, 147);                      

}

/* Global styling for all icons */
.material-symbols-outlined {
  font-variation-settings: 'wght' 300;
  font-size: 2.5rem !important;
  color: white;
  cursor: pointer;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-area {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Canvas is pretty much a measure of music
it contains first a vertical measure line, then the staff, then another vertical measure line */
.canvas {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
}

/* Class for two lines on the left and right side of the staff */
.vertical-line {
  top: 144px;
  position: relative;
  height: 162px;
  width: 3.5px;
  background-color: black;
}

/* staff div is immediate parent of all lines and spaces*/
.staff {
  width: 595px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ledger-line, .line {
  height: 2px;
  position: relative;
  z-index: 1;
}

.line {
  width: 100%;
  background-color: black;
  
}

.ledger-space, .space {
  width: 100%;
  height: 14px;
  position: relative;
  z-index: 1;
}

.ledger-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 6%;
}

/* Corresponds to single quarter note image */
.note {                                       
  height: 121px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* when note is in top registers, we wanna flip it upside down*/
.note.upside-down {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* Image of treble clef */
.t-pic {                  
  height: 110px;
  position: absolute;
  left: 14px;
  top: 165px;
  z-index: 2;
}

/* Image of bass clef */
.b-pic {                            
  height: 51px;
  position: absolute;
  left: 30px;
  top: 280px;
  z-index: 2;
}

.hud-section {
  margin-top: 15px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hud-note-range, .mistakes-count {
  background-color: white;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  border-radius: 10px;
  font-weight: 600;
  gap: 0.3rem;
}

.cancel-icon {
  color: red;
  font-size: 1.2rem !important;
  font-variation-settings: 'wght' 600;
}

.note-number-container {
  width: 40%;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

/* Div that holds our 8 buttons */
.btn-container {                    
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 15px;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  padding: 0.8em;
  border-radius: 10px;
}

/* Class that targets all of our 8 buttons */
.btn {                            
  width: 12%;
  height: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(103, 190, 234);
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.btn:focus {
  outline: none;
}

.btn-correct{
  animation: 1000ms 1 normal correctbtn;
}

.btn-wrong {
  animation: 1000ms 1 normal wrongbtn;
}

@keyframes correctbtn {
  0% {   background-color: rgb(103, 190, 234);}
  10% { background-color: green;};
  100% {   background-color: rgb(103, 190, 234);}
}

@keyframes wrongbtn {
  0% {   background-color: rgb(103, 190, 234);}
  10% { background-color: red;};
  100% {   background-color: rgb(103, 190, 234);}
}

/* Modal that pops up when user clicks ? button*/
.done-modal[open] {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 1em;
  border-radius: 10px;
  width: 35vw;
  height: 44vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: rgb(255, 255, 255);
}

.done-modal::backdrop {
  background-color: black;
  opacity: 50%;
}

.done-modal button {
  font-weight: 500;
  font-size: 1.1rem;
  width: 35%;
  height: 15%;
  border-radius: 8px;
  border: none;
  background-color: rgb(150, 150, 150);
  color: white;
  cursor: pointer;
}

.done-modal button:focus {
  outline: none;
}

.score-circle {
}

@media (max-width: 500px) {

  .menu-icon {
    font-size: 1.rem !important;
  }

  
  .update-btn:hover {
    background-color: rgb(71, 169, 41);
  }

  .reset-btn:hover {
    background-color: rgb(223, 54, 54);
  }

  .canvas {
    width: 300px;
  }

  .center-area {
    width: 300px;
  }
  
  .staff {
    width: 262px;
  }

  .vertical-line {
    top: 108px;
    width: 4px;
    height: 122px;
  }

  .ledger-line, .line {
    height: 2px
  }
  
  .line {
    
  }
  
  .ledger-space, .space {
    height: 10px
  }
  
  .ledger-line {
    width: 9%;
  }
  
  
  /* Div that holds our 8 buttons */
  .btn-correct {                    
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5em;
    margin-top: 10px;
  }

  .hud-section {
    margin-top: 10px;

  }

  .hud-note-range, .mistakes-count {
    width: 20%;
  }

  .note-number-container {
    width: 40%;
  }

  .btn {                            
    width: 30%; 
    height: 40px;
  }
  
  /* Corresponds to single quarter note image */
  .note {
    height: 86px;
  }

  /* Image of treble clef */
  .t-pic {
    height: 85px;
    top: 133px;                  
  }

  /* Image of bass clef */
  .b-pic {
    height: 38px;
    top: 221px;                            
  }

  .sidebar {
    width: 60vw;
  }

  .done-modal[open] {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 1em;
    border-radius: 10px;
    width: 80vw;
    height: 42vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .done-modal button {
    height: 30%;
    padding: 0.5em;
  }

}