* {

}

body {
  margin:auto;
}

#page {
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#left-area {                                          /* (div) Left third of the entire page */
  background-color: rgb(240, 240, 240);
  padding-left: 9px;
  padding-top: 9px;
}

#min-container {
  margin-top: 10px;
}

#update-btn {
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
}

#update-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#reset-btn {                                /* (button) Used to reset highest and lowest notes */
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border: none;
  background-color: rgb(85, 85, 85);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
}

#reset-btn:hover {
  color: rgb(85, 85, 85);
  background-color: white;
  border: 2px solid rgb(85, 85, 85);
}

#error-msg {                                     
  color: red;
}

#right-area {                                     /* (div) Right third of entire page */
  background-color: rgb(240, 240, 240);
}

#center-area {
  margin: auto;
  height: 100%;
}

#canvas {
  display: flex;
  flex-direction: row;
  margin:auto;
  margin-top: 50px;
  width: 600px;
  height: 400px;
}

.vertical-line {
  top: 138px;
  position: relative;
  height: 38.8%;
  width: 3.5px;
  background-color: black;
}

#staff {
  width: 595px;
  height: 100%;
}

.ledger-line, .line {
  width: 100%;
  height: .25%;
  background-color: black;
  position: relative;
}

.ledger-space, .space {
  width: 100%;
  height: 3.596%;
  position: relative;
}

.empty-l {
  height: 100%;
  width: 248px;
  background-color: #ffffff;
}

.empty-r {
  height: 100%;
  width: 308px;
  background-color: white;
}

#note {                                         /* Corresponds to single quarter note image */
  height: 89px;
  left: 223px;
  position: absolute;
  bottom: -31px;
}

#btn-container {                    /* Div that holds our 8 buttons */
  margin-top: 30px;
  width: 600px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {                            /* Class that targets all of our 8 buttons */
  width:70px;
  height: 100%;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(103, 190, 234);
  color: white;
  cursor: pointer;
  font-weight: 900;                       
}

#msg-banner {  
  font-size: 30px;
  margin-top: 40px;
  width: 600px;
  height: 80px;
  color: white;
  display: none;
  align-items: center;
  text-align: center;
  position: absolute;
  font-weight: 800;
}

.btn:hover {
  background-color: rgb(65, 56, 198);
}

#t-pic {
  height: 100px;
  position: relative;
  bottom: 382px;
  left: 10px;
}

#b-pic {
  height: 50px;
  position: relative;
  bottom: 322px;
  right: 37px;
}


.ledger-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

