* {
  font-weight: bolder;
}

#canvas {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 30px;
  width: 600px;
  height: 250px;
}

.vertical-line {
  height: 100%;
  width: 2.5px;
  background-color: black;
}

#staff {
  width: 595px;
  height: 100%;
}

#buttons {
  margin-left: 30px;
  margin-top: 30px;
  width: 600px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#message {
  font-size: 30px;
  margin-left: 30px;
  margin-top: 40px;
  width: 600px;
  height: 80px;
  color: white;
  display: none;
  align-items: center;
  text-align: center;
}

.ledger-line, .line {
  width: 100%;
  height: 1%;
  background-color: black;
  position: relative;
}

.space {
  width: 100%;
  height: 8.9%;
  position: relative;
}

#note {
  height: 135px;
  left: 200px;
  position: absolute;
  bottom: -31px;
}

.btn {
  width:70px;
  height: 100%;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(103, 190, 234);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(65, 56, 198);
}

#t-pic {
  height: 190px;
  position: absolute;
  top: 110px;
  left: 30px;
}

#b-pic {
  height: 80px;
  position: absolute;
  top: 300px;
  left: 60px;
}

.ledger-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.empty-l {
  height: 100%;
  width: 242px;
  background-color: white;
}

.empty-r {
  height: 100%;
  width: 303px;
  background-color: white;
}